<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <title>777PY | Entrar</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../assets/js/script.js" defer></script>
</head>
<body class="bg-[#131313] body_termo_politica flex items-center justify-center md:h-screen m-6 md:m-auto">
    <div class="div_content_imgs_forms">
        <div class="hidden md:block">
            <img src="../assets/img/img_form_2.jpg" alt="" srcset="" class="img_side_form w-[485px]">
        </div>
        <div class="flex items-center justify-center">
            <form action="#" class="form p-4 form_login">
                <div class="efeito_luz efeito_luz_form"></div>
                <h1 class="font-inter font-bold text-[18pt] md:text-2xl"><span class="texto_personalizado">Parabéns!</span> Você está entrando no <span class="textoGradiente">jogo que vai mudar</span> a tua vida. Ou <a href="form_cadastro.html"><span class="texto_personalizado underline">cria conta</span></a> agora.</h1>
                <div class="div_content_nav_inputs mt-6">
                    <nav class="nav_inputs">
                        <input type="text" placeholder=" " id="numero_telefone_entrar"  class="input_text" required>
                        <label for="numero_telefone_entrar" class="label_form">Número de Telefone *</label>
                    </nav>
                    <nav class="nav_inputs">
                        <input type="text" placeholder=" " id="email"  class="input_text" required>
                        <label for="email" class="label_form">E-mail *</label>
                    </nav>
                </div>

                <p class="font-inter font-bold mt-4 text-center textoGradiente text-[18pt]">Palpites que mudarão a sua vida para sempre!</p>

                <div class="flex sm:items-end md:justify-end items-center justify-center mt-8">
                    <nav class="nav_botoes">
                        <a href="../."><button class="button button_secundary">Cancelar</button></a>
                        <a href="#"><button class="button">Entrar Agora</button></a>
                    </nav>
                </div>
            </form>
        </div>
    </div>
</body>
</html>