<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <title>777PY | Criar Conta</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../assets/js/script.js" defer></script>
</head>
<body class="bg-[#131313] body_termo_politica flex items-center justify-center sm:h-screen m-6 sm:m-auto">
    <div class="div_content_imgs_forms">
        <div class="hidden sm:block">
            <img src="../assets/img/img_1.jpg" alt="" srcset="" class="img_side_form">
        </div>
        <div>
            <form action="#" class="form">
                <h1 class="font-inter font-bold text-[18pt] sm:text-2xl"><span class="texto_personalizado">Bem-aventurado!</span> Teu palpite pode mudar tudo em 10 dias. Cria tua conta ou <span class="texto_personalizado">entra agora</span>.</h1>
                <div class="div_content_nav_inputs mt-6">
                    <nav class="nav_inputs">
                        <input type="text" placeholder=" " id="nome_completo"  class="input_text" required>
                        <label for="nome_completo" class="label_form">Nome Completo *</label>
                        <small class="info_input_form">Será usado para a sua identificação formal</small>
                    </nav>
                    <nav class="nav_inputs">
                        <input type="text" placeholder=" " id="apelido"  class="input_text" required>
                        <label for="apelido" class="label_form">Apelido *</label>
                        <small class="info_input_form">Nome fictício para identificação pública</small>
                    </nav>
                </div>

                <div class="div_content_nav_inputs sm:mt-4 mt-4.5">
                    <nav class="nav_inputs">
                        <input type="text" placeholder=" " id="telefone"  class="input_text" required>
                        <label for="telefone" class="label_form">Número de Telefone *</label>
                        <small class="info_input_form">Contato ou aviso de premiação</small>
                    </nav>
                    <nav class="nav_inputs">
                        <input type="text" placeholder=" " id="email"  class="input_text">
                        <label for="email" class="label_form">E-mail</label>
                        <small class="info_input_form">Contato direito ou aviso de premiação</small>
                    </nav>
                </div>

                <div class="flex flex-col items-center justify-center mt-6">
                    <p class="font-inter font-bold text-[#40E164]">Queremos saber um pouco sobre você... *</p>
                    <textarea name="" id="" placeholder="Por que você quer participar do 777?" class="text_area_sign_in" required></textarea>
                </div>

                <p class="font-inter font-extralight mt-2.5">Ao criar sua conta, você declara que leu e concorda com a utilização das informações fornecidas, conforme previsto na <a href="politica_privacidade.html" class="text-gray-400">Política de Privacidade</a> e nos <a href="termos_condicoes.html" class="text-gray-400">Termos e Condições</a> da 777PY</p>

                <div class="flex sm:items-end sm:justify-end items-center justify-center">
                    <nav class="nav_botoes">
                        <a href="#"><button class="button button_secundary">Cancelar</button></a>
                        <a href="#"><button class="button">Criar Conta</button></a>
                    </nav>
                </div>
            </form>
        </div>
    </div>
</body>
</html>