<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <title>777PY | Criar Conta</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../assets/js/script.js" defer></script>
</head>
<body class="bg-[#131313] body_termo_politica flex items-center justify-center h-screen">
    <div class="div_content_imgs_forms">
        <div>
            <img src="../assets/img/img_1.jpg" alt="" srcset="" class="img_side_form">
        </div>
        <div>
            <form action="#" class="w-[600px]">
                <h1 class="font-inter font-bold text-2xl"><span class="texto_personalizado">Bem-aventurado!</span> Crie a sua conta e lembre-se que <span class="texto_personalizado">teu palpite pode mudar a tua vida</span> em apenas 10 dias.</h1>
                <div class="div_content_nav_inputs">
                    <nav class="nav_inputs">
                        <input type="text">
                        <label for="#">Nome Completo</label>
                    </nav>
                    <nav class="nav_inputs">
                        <input type="text">
                        <label for="#">Apelido / Alcunha</label>
                    </nav>
                </div>
            </form>
        </div>
    </div>
</body>
</html>