<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <title>777PY | Usuário 777</title>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../assets/js/script.js" defer></script>
</head>
<body class="bg-[#131313] px-6">
    <nav class="my-8">
        <div>
            <h1 class="text-center text-[19pt] font-inter font-bold">Olá <span class="texto_personalizado">Calebe Lukombo</span>! Sabemos que você está preparado para se tornar o <span class="texto_personalizado">próximo milionário</span>.</h1>
            <p class="textoGradiente font-geist text-center py-1">2.5 milhões estão chegando na sua direção!</p>
        </div>
        <div class="flex flex-col items-center">
            <div class="border-2 border-[#2E2C2C] rounded-full p-2">
                <img src="../assets/img/user.jpg" alt="" srcset="" class="h-40 w-40 rounded-full">
            </div>

            <div class="mt-3">
                <nav class="flex flex-wrap gap-2 items-center justify-center">
                    <div class="card_user_info">
                        <div class="card_user_topo">
                            <h5>Alcunha</h5>
                            <p>X</p>
                        </div>
                        <p class="dado_user_info textoGradiente">CommandX</p>
                    </div>
                    
                    <div class="card_user_info">
                        <div class="card_user_topo">
                            <h5>Fase Atual</h5>
                            <p>X</p>
                        </div>
                        <p class="dado_user_info textoGradiente">Nzambi</p>
                    </div>
                    
                    <div class="card_user_info">
                        <div class="card_user_topo">
                            <h5>Total Enviado (palpites)</h5>
                            <p>X</p>
                        </div>
                        <p class="dado_user_info textoGradiente">10</p>
                    </div>
                    
                    <div class="card_user_info">
                        <div class="card_user_topo">
                            <h5>Total Certo (palpites)</h5>
                            <p>X</p>
                        </div>
                        <p class="dado_user_info textoGradiente">10</p>
                    </div>
                    
                    <div class="card_user_info">
                        <div class="card_user_topo">
                            <h5>Total Erros (palpites)</h5>
                            <p>X</p>
                        </div>
                        <p class="dado_user_info textoGradiente">2</p>
                    </div>
                    
                </nav>

                <!-- <nav>
                    <div>

                    </div>

                    <div>
                        <form action=""></form>
                    </div>
                </nav> -->
            </div>
            
            <div></div>
        </div>
    </nav>
</body>
</html>