<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <title>777PY | Preloader</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../assets/js/script.js" defer></script>
</head>
<body class="bg-[#131313] px-6 body_termo_politica h-screen items-center justify-center flex overflow-hidden">
    <h1 class="font-geist text-3xl text-center font-bold"><span class="texto_personalizado">Bem-aventurado</span> você é! Estamos preparando os seus <span class="texto_personalizado">2.5 milhões.</span></h1>
    <div class="efeito_luz efeito_luz_preloader"></div>
</body>
</html>