<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <title>777PY | Termos e Condições</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../assets/js/script.js" defer></script>
</head>
<body class="bg-[#131313] px-6 pt-6 body_termo_politica">
    <div class="efeito_luz efeito_luz_termos_politica"></div>
    <h1 class="titulo_termo_politica">Termos e <span class="texto_personalizado">Condições</span></h1>
    <p class="texto_termo_politica">Bem-vindo ao <span class="font-bold">777PY!</span> Estes Termos e Condições estabelecem as regras para o uso do website 777PY localizado em <span class="font-bold">https://www.777py.com/</span> e da pesquisa organizada pela nossa startup! Ao acessar esse site e participar da pesquisa, consideramos que você está de acordo com os Termos e Condições aqui descritos ou em qualquer material digital ou físico da nossa autoria. Não participe da pesquisa ou pare de usar imediatamente o 777PY caso não concorde com todos os <span class="font-bold">Termos e Condições</span> estabelecidos por nós.</p>
    <div class="pt-6">
        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">natureza do projeto e uso do termo "desafio"</h2>
            <p class="texto_acordeao_termo_politica">Ressaltamos que o 777PY é um projeto de pesquisa científica e estatísticas voltada à análise de previsões e padrões. Não promovemos casas de apostas, jogos de azar ou qualquer atividade similar. Em determinadas seções do site ou conteúdos produzidos oficialmente por nós, utilizamos o termo "Desafio" como referência à nossa pesquisa. Esse termo é adotado para fins didáticos, publicitários e de edutretenimento, conforme o objetivo lúdico do projeto.</p>
        </div>

        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Adaptação de termos técnicos</h2>
            <p class="texto_acordeao_termo_politica">Alguns termos científicos e/ou técnicos presentes no site e em nossos materiais podem ter sido adaptados, simplificados ou parafraseados. Essa decisão visa garantir acessibilidade e compreensão a um público com diferentes níveis de conhecimento técnico, origens regionais, e realidades sociais distintas, bem como facilitar a linguagem publicitária.</p>
        </div>
        
        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Termos Específicos do 777PY</h2>
            <p class="texto_acordeao_termo_politica">O 777PY é uma plataforma voltada para fins científico e informação analítica. Não garantimos resultados ou ganhos com base nas informações fornecidas.
            <li>Não incentivamos o uso indevido de dados para apostas ilegais e imoderada ou atividades não regulamentadas;</li>
            <li>Todo conteúdo gerado por IA ou algoritmos é fornecido "como está", com próposito linguístico, científico, experimental ou educativo;</li>
            <li>Os usuários são responsáveis por interpretar, utilizar e partilhar as informações conforme a sua própria análise, habilidade ou julgamento.</li></p>
        </div>

        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Cookies</h2>
            <p class="texto_acordeao_termo_politica">Utilizamos cookies para proporcionar uma experiência personalizada. Ao acessar o 777PY, você concorda com o uso dos cookies necessários. Cookies são arquivos de texto colocados no seu dispositivo por um servidor de página web. Eles não são capazes de executar programas ou transmitir vírus. Você pode optar por aceitar ou recusar cookies opcionais. Cookies obrigatórios, que garantem o funcionamento do site, não necessitam de consentimento.</p>
        </div>

        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Licença</h2>
            <p class="texto_acordeao_termo_politica">A menos que declarado o contrário, o 777PY e/ou seus licenciadores detêm os direitos de propriedade intelectual de todo o conteúdo do site. Todos os direitos são reservados. Você pode acessar o conteúdo para uso pessoal, respeitando as restrições abaixo:</p>
            <h3 class="subtitulo_acordeao_termo_politica">Você não deve:</h3>
            <li>Reproduzir, republicar ou copiar materiais do 777PY;</li>
            <li>Vender, alugar ou sublicenciar materiais do 777PY;</li>
            <li>Redistribuir conteúdo do 777PY sem permissão expressa;</li>
        </div>

        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Publicações ou Dizeres de Usuários</h2>
            <p class="texto_acordeao_termo_politica">Áreas interativas do site podem conter publicações, comentários ou opiniões dos nossos usuários. Esses comentários são de responsabilidade exclusiva dos seus autores. O 777PY não se responsabiliza por comentários publicados por terceiros, mas reserva-se o direito de moderar ou remover qualquer conteúdo inadequado.</p>
            <h3 class="subtitulo_acordeao_termo_politica">Ao publicar comentários, você garante que:</h3>
            <li>Detém os direitos legais para expressar, postar, comentar sobre diversos conteúdos;</li>
            <li>O conteúdo não infringe direitos de terceiros;</li>
            <li>O conteúdo não é difamatório, ofensivo ou ilegal;</li>
            <li>O conteúdo não promove atividades comerciais ou ilegais;</li>
            <li>Você concede ao 777PY uma licença não-exclusiva para usar, reproduzir, editar e sublicenciar seus comentários em qualquer mídia.</li>
        </div>

        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Links para o Nosso Conteúdo</h2>
            <p class="texto_acordeao_termo_politica">Organizações como agências governamentais, mecanismos de busca e instituições educacionais podem incluir links para nosso site sem autorização prévia, desde que:</p>
            <li>O link não seja enganoso;</li>
            <li>Não implique falsamente patrocínio ou endosso;</li>
            <li>Esteja contextualizado dentro do nosso site;</li>
            <li>O link não seja enganoso;</li>
            <p class="texto_acordeao_termo_politica">Outras organizações devem solicitar permissão pelos canais oficiais contidos nessa site.</p>
        </div>
        
        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">iFrames</h2>
            <p class="texto_acordeao_termo_politica">Sem permissão prévia, não é permitido criar "frames" em torno de nossas páginas que modifiquem a aparência visual do nosso site.</p>
        </div>
        
        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Responsabilidade pelo Conteúdo</h2>
            <p class="texto_acordeao_termo_politica">Não nos responsabilizamos por conteúdo exibido em sites de terceiros que contenham links para o nosso site. Ao vincular seu site ao nosso, você concorda em nos isentar de qualquer responsabilidade.</p>
        </div>
        
        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Direitos Reservados</h2>
            <p class="texto_acordeao_termo_politica">Reservamo-nos o direito de solicitar a remoção de qualquer link para nosso site e de alterar estes termos a qualquer momento. Ao continuar usando nosso site, você concorda com tais termos atualizados.</p>
        </div>
        
        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Remoção de Link</h2>
            <p class="texto_acordeao_termo_politica">Se encontrar algum link ofensivo em nosso site, entre em contato conosco. Consideraremos sua solicitação, mas não somos obrigados a remover links ou responder diretamente.</p>
        </div>
        
        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Precisão das Informações</h2>
            <p class="texto_acordeao_termo_politica">Não garantimos que todas as informações presentes neste site estejam completas, corretas ou atualizadas. O conteúdo pode ser alterado a qualquer momento sem aviso prévio.</p>
        </div>

        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Isenção de Responsabilidade</h2>
            <p class="texto_acordeao_termo_politica">Na máxima extensão permitida por lei, excluímos todas as garantias, expressas ou implícitas, relativas ao uso deste site. Nada nestes termos:</p>
            <li>Limita ou exclui responsabilidade por fraude ou declaração fraudulenta;</li>
            <li>Limita quaisquer responsabilidades de forma contrária à legislação aplicável.</li>
        </div>

        <div class="acordeao_termo_politica">
            <h2 class="titulo_acordeao_termo_politica">Fale Connosco</h2>
            <p class="texto_acordeao_termo_politica">Se tiver dúvidas sobre os nossos Termos e Condições, entre em contacto:</p>
            <li>E-mail: apoio@777py.com</li>
            <li>Telefone: 999 111 000 | 999 111 222</li>
        </div>
    </div>

    <footer class="flex flex-col items-center relative overflow-hidden mt-10">
            <div class="efeito_luz efeito_luz_rodape"></div>
            <div>
                <a href="../."><img src="../assets/img/logo.png" alt="" srcset="" class="w-32"></a>
            </div>
            <nav class="font-inter text-[11pt] text-gray-400 flex flex-wrap gap-3.5 items-center justify-center mt-2.5">
                <a href="../." class="hover:underline">Página Inicial</a>
                <a href="politica_privacidade.html" class="hover:underline">Política de Privacidade</a>
            </nav>
            <div class="my-4">
                <div class="flex items-center justify-between">
                    <small class="text-white font-inter font-medium w-max">Luanda, Angola</small>
                    <div class="flex items-center gap-1.5">
                        <a href="#" rel="noopener"><i class="fa-solid fa-whatsapp social_rodape"></i></a>
                        <a href="#" rel="noopener"><i class="fa-solid fa-paper-plane social_rodape"></i></a>
                        <a href="#" rel="noopener"><i class="fa-solid fa-github social_rodape"></i></a>
                        <a href="#" rel="noopener"><i class="fa-solid fa-facebook-f social_rodape"></i></a>
                        <a href="#" rel="noopener"><i class="fa-solid fa-phone social_rodape"></i></a>
                    </div>
                </div>
                <small class="text-center flex items-center justify-center text-white font-geist mt-4 font-extralight">&copy;2025 — <span class="font-bold font-inter">777PY</span> — Todos os direitos reservados</small>
            </div>
            <a href="#" target="_top"><button class="button mt-4 mb-5 animate-bounce">Me ajude a subir!</button></a>
    </footer>
</body>
</html>